# Ignore node_modules in the frontend
/frontend/node_modules/

# Ignore build artifacts in the frontend
/frontend/build/
/frontend/dist/

# Ignore Python virtual environment in the backend and ML models
/backend/.venv/
/CKD Historical/.ipynb_checkpoints/

/backend/__pycache__

# Ignore logs
*.log
/backend/logs/



# Ignore specific directories in ML models
/CKD_Historical/.ipynb_checkpoints

# Ignore environment files
.env
/backend/.env



# Ignore other files and directories as needed
